transformers==4.40.0
accelerate==1.0.1
deepspeed==0.16.3
peft==0.13.2
bitsandbytes==0.42.0
datasets==2.21.0
sentencepiece==0.2.0
trl==0.11.4
tyro
wandb
omegaconf
tqdm
matplotlib
pytest
# sglang==0.4.6.post5
# flashinfer-python==0.2.5
jupyter==1.0.0
matplotlib==3.5.2
numpy==1.22.3
pandas==1.4.2
quinine==0.3.0
scikit-learn==1.0.2
seaborn==0.11.2
tqdm==4.64.0
transformers==4.17.0
wandb==0.12.11
xgboost==1.6.1
protobuf==3.20.1
